
.deps
.libs

*.a
*.o
*.lo

config.*
configure

Makefile
Makefile.in

transmission.spec

INSTALL
aclocal.m4
autom4te.cache/

cli/transmissioncli

daemon/transmission-daemon
daemon/transmission-remote

depcomp
libtool
install-sh
ltmain.sh
missing
mkinstalldirs

error.log

gtk/sexy-marshal.c
gtk/sexy-marshal.h
gtk/tr-core-dbus.h
gtk/transmission.desktop
gtk/transmission

qt/moc_about.cpp
qt/moc_app.cpp
qt/moc_dbus-adaptor.cpp
qt/moc_details.cpp
qt/moc_file-tree.cpp
qt/moc_hig.cpp
qt/moc_license.cpp
qt/moc_mainwin.cpp
qt/moc_make-dialog.cpp
qt/moc_options.cpp
qt/moc_prefs-dialog.cpp
qt/moc_prefs.cpp
qt/moc_relocate.cpp
qt/moc_session-dialog.cpp
qt/moc_session.cpp
qt/moc_squeezelabel.cpp
qt/moc_stats-dialog.cpp
qt/moc_torrent-delegate-min.cpp
qt/moc_torrent-delegate.cpp
qt/moc_torrent-filter.cpp
qt/moc_torrent-model.cpp
qt/moc_torrent.cpp
qt/moc_triconpushbutton.cpp
qt/moc_utils.cpp
qt/moc_watchdir.cpp
qt/qrc_application.cpp
qt/qtr
qt/ui_mainwin.h

intltool-extract.in
intltool-merge.in
intltool-update.in

libtransmission/bencode-test
libtransmission/blocklist-test
libtransmission/clients-test
libtransmission/history-test
libtransmission/json-test
libtransmission/magnet-test
libtransmission/peer-msgs-test
libtransmission/request-list-test
libtransmission/rpc-test
libtransmission/test-peer-id
libtransmission/utils-test

libtransmission/version.h

m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

po/Makefile.in.in
po/POTFILES
po/stamp-it
po/*.gmo

third-party/miniupnp/miniupnpcstrings.h
